# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
tmp/
out/

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
*.sublime-project
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/tasks.json

# System files
.DS_Store
Thumbs.db
